body {
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  padding: 50px;
  background-color: #e6e6fa;
}

h1 {
  font-size: 48px;
  margin: 0; /* Nueva propiedad para animación */
  opacity: 0; /* Comienza invisible */
  transform: translateY(-50px);
  animation: aparecer 1s forwards; /* Aplica la animación aparecer durante 1 segundo */
}
/* Definamos la animación */
@keyframes aparecer {
    to {
        opacity: 1; /* Termina visible */
        transform: translateY(0); /* Termina en su posicion original */
    }
}

h2 {
  color: #333333;
  font-size: 32px;
  margin-top: 40px;
}

p, li {
  color: #333333;
  font-size: 20px;
}

button {
  margin-top: 20px;
  padding: 25px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #008cba;
  color: white;
  font-family: cursive;
  border-radius: 38px;

  /* NUEVAS PROPIEDADES PARA ANIMACIÓN */
  transition: transform 0.7s, background-color 0.7s;
}

button:hover {
  transform: scale(1.1);       /* Aumenta 10% de tamaño */
  background-color: #005f75;   /* Cambia el color de fondo */
}
